@import url("https://fonts.googleapis.com/css?family=Jost:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

* {

    font-family: "Jost", sans-serif;
}

section.education h2 {
    margin-bottom: 8px;
}

h3 {
    margin-top: 0;
    font-size: medium;
}

.container {
    width: 800px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 90px;
}

.contact > address {
    border-bottom: 3px;
    border-style: solid;
    padding-bottom: 15px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.contact > address > * {
    display: block;
}

.contact > address > a {
    color: black;
    text-decoration: none;
}

.contact > address > a:hover {
    color: lightslategray;
}

.projects a {
    color: black;
    text-decoration: none;
}

.projects a:hover {
    background-color: #f7f7f7;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.projects,
.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects a {
    width: calc(50% - 32px);
    transition: background-color 0.5s, box-shadow 0.5s ease;
    padding: 16px;
    position: relative;
    overflow: hidden;
}

h2 {
    font-size: large;
}

.projects a:hover div.circle {
    /* background-color: #0c82b1; */
    transform: rotate(180deg);
}

div.circle {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    right: -50px;
    float: right;
    transition: transform 0.5s;
    display: flex;
    overflow: hidden;
}

div.circle > div.right {
    width: 50%;
    height: 100%;
    background-color: #0c82b1;
}

div.circle > div.left {
    width: 50%;
    height: 100%;
    opacity: 0;
}

@media screen and (max-width: 900px) {
    .projects  a {
        width: 100%;
    }
    .container {
        width: 600px;
    }
}

@media screen and (max-width: 680px) {
    .container {
        width: 350px;
    }
}
