* {
    padding: 0;
    margin: 0;
}

nav.top-nav {
    display: inline-block;
    width: 100vw;
    height: 5em;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6200ee;
    align-content: center;
}

nav.top-nav ul {
    display: inline-block;
    padding-left: 2em;
}

nav.top-nav li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    font-size: 1.5em;
}

nav.top-nav li:hover {
    color: lightgray;
    cursor: pointer;
}

nav.top-nav a {
    color: white;
}

nav.top-nav a:hover {
    color: lightgray;
    text-decoration: none;
}

nav.top-nav p {
    display: inline-block;
    font-size: 2em;
    color: white;
    margin-top: 12px;
    margin-left: 1em;
}

nav.side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 5em;
    left: 0;
    background-color: gainsboro;
}

nav.side-nav ul {
    display: inline-block;
}

nav.side-nav li {
    font-size: 1.25em;
    padding-top: 1em;
    margin-left: 2em;
    display: block;
}

footer {
    display: inline-block;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-color: #efe5fd;
    height: 2.5em;
    margin-left: 200px;
}